* {
  margin: 0;
  padding: 0;
  
  box-sizing: border-box;
  box-shadow: 0 0 0 0;

  border: none;
  outline: none;
}

body {
  width: 100vw;
  height: 100dvh;

  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;

  overflow: hidden auto;

  background-color: #1F2937;
}

body::-webkit-scrollbar {
  display: none;
}